#contact {
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 300px);
	padding: 8rem 0;
}
@media screen and (max-width: 767.98px) {
	#contact {
		height: auto;
		padding: 2rem 0;
	}
}
.contact {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
#contact::before {
	content: '';
	z-index: -1;
	top: 0px;
	height: 100%;
	width: 100vw;
	position: absolute;
	/* background: url(../assests/img/pattern.png); */
	background-repeat: repeat;
	background-blend-mode: multiply;
}
.txt {
	flex-basis: 100%;
	flex: 1 0 auto;
	display: inline-block;
	color: #e4e4e4;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 7px 9px;
	background: none;
	border: 1px solid rgba(255, 255, 255, 0);
	font-size: 1rem;
	line-height: 1.4em;
	background: var(--bg-black-o);
	transition: all 300ms ease;
}
.txtarea {
	transition: all 300ms ease;
	display: inline-block;
	color: #e4e4e4;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid rgba(255, 255, 255, 0);
	padding: 5px 9px;
	font-size: 1rem;
	background: var(--bg-black-o);
	line-height: 1.4em;
	height: 150px;
	resize: none;
}
.txt:focus,
.txtarea:focus {
	border-style: solid;
	border-color: var(--accent-second);
	color: rgb(255, 255, 255);
}
input.error,
textarea.error {
	border-color: #973d3d;
	border-style: solid;
	background: #f0bebe;
	color: #a35959;
}
input.error:focus,
textarea.error:focus {
	border-color: #973d3d;
	color: #a35959;
}
.send {
	border: 1px solid rgba(255, 255, 255, 0);
	color: var(--primary);
	background-color: var(--cyan);
	font-size: 1rem;
}
.send:hover {
	border: 1px solid rgba(255, 255, 255, 1);
	background-color: var(--cyan);
}
