/*============================
 *    05. SECTION FOOTER     *
 *===========================*/
#footer {
	background: #07090d;
}
#footer .widget {
	padding: 2rem 0;
	text-align: center;
	line-height: 0;
}
#footer .ft-copyright p {
	font-family: 'SourceSansPro-Regular';
	font-size: 18px;
	color: #878787;
	margin: 0;
	line-height: 45px;
}
#footer .ft-copyright p a {
	color: var(--accent-second);
}
#footer .ft-copyright p a:hover {
	opacity: 0.8;
}
#footer .ft-socialmedia .social-links {
	text-align: right;
	margin-bottom: 0;
}
#footer .ft-socialmedia .social-links a {
	margin-right: 0;
	margin-left: 10px;
}
#footer .social a:hover span {
	width: 100%;
}
#footer .social a:hover {
	color: #161c24;
}
