/*============================
 *    05. SECTION FOOTER     *
 *===========================*/
.footer {
	background: #07090d;
}
.footer i,
.footer a {
	-webkit-transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
		filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
		filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
		filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
		filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
		filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.footer__h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.8rem;
	color: #878787;
	text-align: center;
	font-weight: bold;
}
.footer__contacts {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	justify-content: center;
}
.footer__contacts {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	display: flex;
	margin: 0;
	width: 100%;
	text-align: left;
	flex-direction: row;
}
.footer__contacts a {
	color: var(--a);
	letter-spacing: 2px;
}
.footer__contacts .messendger {
	font-size: 1.5rem;
	font-style: normal;
	position: relative;
	height: 2.2rem;
	padding: 0.2rem;
}
.footer__contacts a.email,
.footer__contacts .messendger {
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 2rem;
}
.footer__contacts a span {
	font-weight: 100;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	font-style: italic;
	color: var(--primary);
	display: inline;
	vertical-align: middle;
}
.footer__contacts .messendger:hover {
	color: var(--accent-second);
}
.footer__contacts .messendger:hover span {
	color: var(--primary);
	filter: brightness(0.8);
}
.footer__contacts .messendger:active span {
	color: var(--primary);
	filter: brightness(0.8);
}
.footer__contacts .messendger:active span {
	color: var(--accent-second);
	filter: brightness(1);
}
.footer__socialmedia {
	padding: 2rem 0;
	margin-bottom: 0;
	text-align: center;
}
.footer__socialmedia a {
	color: var(--primary);
	margin-right: 0;
	width: 2.2rem;
	height: 2.2rem;
	padding: 0.15rem;
	position: relative;
	border: 2px white solid;
	background: none;
	margin-left: 10px;
}
.footer__socialmedia a::before {
	position: relative;
	font-size: 1.6rem;
	width: 100%;
	height: 100%;
	background: none;
	z-index: 100;
}
.footer__socialmedia a span {
	-webkit-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 2rem;
	z-index: 0;
	background-color: var(--primary);
}
.footer__socialmedia .main__link:hover {
	color: var(--black);
}
.footer__socialmedia .main__link:hover span {
	width: 2rem;
}
.footer__copyright {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	font-size: 0.8rem;
	color: #878787;
	margin: 0;
	line-height: 1.5;
}
.footer__copyright p a {
	color: var(--accent-second);
}
.footer__copyright p a:hover {
	opacity: 0.8;
}
