/*============================
 *    05. SECTION FOOTER     *
 *===========================*/
#footer {
	background: #07090d;
}
#footer h2 {
	font-family: 'Montserrat', sans-serif;
	color: #878787;
	text-align: center;
}
#footer .footer__contacts {
	padding: 1rem 0;
	margin: 0;
	text-align: center;
}
#footer .footer__contacts ul {
	padding: 0;
	list-style: none;
	padding-inline-start: 0;
}
#footer .footer__contacts ul li {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.4rem;
	font-weight: bold;
	text-align: center;
}
#footer .footer__contacts ul li a {
	width: 100%;
	text-align: center;
	letter-spacing: 2px;
	color: var(--primary);
	font-style: italic;
	font-weight: bold;
}
#footer .footer__socialmedia {
	padding: 2rem 0;
	margin-bottom: 0;
	text-align: center;
}
#footer .footer__socialmedia a {
	color: var(--primary);
	margin-right: 0;
	width: 2.2rem;
	height: 2.2rem;
	padding: 0.15rem;
	position: relative;
	border: 2px white solid;
	background: none;
	margin-left: 10px;
}
#footer .footer__socialmedia a::before {
	position: relative;
	font-size: 1.6rem;
	width: 100%;
	height: 100%;
	background: none;
	z-index: 100;
}
#footer .footer__socialmedia a span {
	-webkit-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	-moz-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	-ms-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	-o-transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	transition: color 0.15s cubic-bezier(0.215, 0.61, 0.355, 1),
		width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 2rem;
	z-index: 0;
	background-color: var(--primary);
}
#footer .footer__socialmedia a:hover {
	color: var(--black);
}
#footer .footer__socialmedia a:hover span {
	width: 2rem;
}
#footer .footer__copyright {
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	font-size: 0.8rem;
	color: #878787;
	margin: 0;
	line-height: 1.5;
}
#footer .footer__copyright p a {
	color: var(--accent-second);
}
#footer .footer__copyright p a:hover {
	opacity: 0.8;
}
