.header {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    position: fixed;
    width: 100%;
    height: 64px;
    top: 0;
    margin: 0;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    transition: transform 600ms ease-out, background 300ms ease-out;
    transform: translateY(0);
}

.header a,
.header a:link,
.header a:visited,
.header a:hover,
.header a:active {
    text-decoration: none;
    text-align: center;
}

.header-bg {
    background-color: var(--bg-black);
    -webkit-box-shadow: 0 0 12px 6px rgba(0, 0, 0, .7);
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, .7)
}

.header-sticky {
    background-color: var(--bg-black);
    opacity: 1;
    -webkit-box-shadow: 0 0 12px 6px rgba(0, 0, 0, .7);
    box-shadow: 0 0 12px 6px rgba(0, 0, 0, .7)
}

.header-container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.header__menu {
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    width: 64px;
    height: 64px;
    -webkit-transform-style: flat;
    transform-style: flat;
}

.header__menu {
    text-align: center;
    z-index: 100;
}

.header__menu>a {
    vertical-align: middle;
}

.menu-button svg {
    width: 2rem;
    height: 2rem;
    z-index: 1000;
}

.menu-button svg>.times,
.menu-button svg>.bars {
    transform: scale(0);
    stroke: #fff;
    transform-origin: center;
    transition: all 200ms cubic-bezier(1, 1, 1, 0.9);
    -webkit-transition: all 200ms cubic-bezier(1, 1, 1, 0.9);
    -moz-transition: all 200ms cubic-bezier(1, 1, 1, 0.9);
    -ms-transition: all 200ms cubic-bezier(1, 1, 1, 0.9);
    -o-transition: all 200ms cubic-bezier(1, 1, 1, 0.9);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.menu-button svg>.times {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.menu-button svg>.bars {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.menu-button.open svg>.times {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.menu-button.open svg>.bars {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}

.menu-button:hover svg line {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    stroke: var(--accent-third);
    fill: var(--accent-third);
}

@media screen and (max-width: 989.98px) {
    .menu-button svg {
        display: block;
    }
}

@media screen and (min-width: 990px) {
    .menu-button svg {
        display: none;
    }
}

.header__scroll {
    position: relative;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: center;
    width: 64px;
    height: 64px;
    -webkit-transform-style: flat;
    transform-style: flat;
}

.scroll-top {
    transition: all 300ms ease-in-out;
    z-index: 1100 !important;
}

.scroll-top svg {
    width: 3rem;
    z-index: 1100 !important;
    height: 3rem;
    stroke: var(--primary);
    fill: var(--primary);
    transition: all 300ms ease-in;
}

.scroll-top:active,
.scroll-top:hover,
.scroll-top:focus {
    transition: all 300ms ease-in-out, background 100ms;
}


.scroll-top:active {
    stroke: var(--accent-third);
    fill: var(--accent-third);
}



.scroll-top:active svg {
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    stroke: var(--accent-third);
    fill: var(--accent-third);
    transform: scale(0.8);
}

.invisible {
    display: none;
}

@media(hover: none) and (pointer: coarse) {
    .menu-button:hover svg line {
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        stroke: white;
        fill: white;
    }

    .scroll-top:hover svg {
        stroke: var(--primary);
        fill: var(--primary);
    }
}

.header__nav {
    transition: transform 600ms ease-out, color 300ms ease-out;
    min-width: 100px;
    flex: 2 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__nav .link {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: var(--primary);
    font-size: 1.2rem;
    transition: all 600ms cubic-bezier(.17, -0.34, .32, 1.9);
}

.header__nav .link::before,
.header__nav .link.active::before {
    text-align: center;
    transition: all 600ms ease-in-out;
}

.header__nav .link::before {
    content: '';
    display: block;
    position: relative;
    top: calc(1.2rem + 4px);
    z-index: 1;
    height: 1px;
    width: calc(100% - 4px);
    -webkit-transform: scale(0);
    transform: scale(0);
    background-repeat: no-repeat;
}

.header__nav .link.active {
    color: var(--accent-second);
    transition: all 450ms ease-out;
}

.header__nav .link.active::before {
    background-color: var(--accent-second);
    transition: all 600ms cubic-bezier(.17, .89, .32, 1);
}

.header__nav .link:hover {
    transform: unset;
}

.header__nav .link:hover::before {
    background-color: var(--primary);
    -webkit-transform: scale(1);
    transform: scale(1);
}

.header__nav .link.active:hover::before {
    background-color: var(--accent-second);
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media(hover: none) and (pointer: coarse) {
    .header__nav .link:hover::before {
        -webkit-transform: scale(0);
        transform: scale(0);
        transition: all 600ms ease-out;
    }
}

@media screen and (max-width: 989.98px) {
    .header__nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        text-align: right;
        height: 100vh;
        padding: 64px 15px 128px 15px;
        min-width: 35vw;
        top: 0;
        right: 0;
        bottom: 0;
        background: var(--bg-black);
        -webkit-box-shadow: 0 0 30px 15px rgba(0, 0, 0, .33);
        box-shadow: 0 0 30px 15px rgba(0, 0, 0, .33);
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }

    .header__nav.open {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .header__nav .link {
        text-align: center;
        padding-left: 70px;
        transform: translateX(180px);
        -webkit-transform: translateX(180px);
        -moz-transform: translateX(180px);
        -ms-transform: translateX(180px);
        -o-transform: translateX(180px);
    }

    .open .header__nav .link {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
    }

    .open .header__nav .link:nth-child(1) {
        -webkit-transition-delay: 50ms;
        transition-delay: 50ms;
    }

    .open .header__nav .link:nth-child(2) {
        -webkit-transition-delay: 100ms;
        transition-delay: 100ms;
    }

    .open .header__nav .link:nth-child(3) {
        -webkit-transition-delay: 150ms;
        transition-delay: 150ms;
    }

    .open .header__nav .link:nth-child(4) {
        -webkit-transition-delay: 250ms;
        transition-delay: 250ms;
    }
}

@media screen and (min-width: 990px) {

    /** Drawer menu **/
    .header__nav {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .header__nav .link {
        margin: 0 30px;
        padding: 2px;
    }
}
