#skills {
	z-index: 1;
	position: relative;
	box-shadow: 0 0 5px 0 var(--bg-black);
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	padding: 4rem 0;
}

#skills::after {
	content: '';
	z-index: -1;
	height: 100%;
	top: 0px;
	width: 100%;
	position: absolute;
	background: url(../assests/img/pattern.png);
	background-repeat: repeat;
}

.skills__square {
	max-width: 70vw;
	margin: auto;
	position: relative;
	padding: 1rem;
}

.skills__square__wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	padding-bottom: 100%;
	display: flex;
	justify-content: center;
}

.skills__square__content {
	font: calc(0.5rem + 1vw * 1.75) / 1.3rem 'Jura', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	background-color: var(--bg-cyan);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media screen and (max-width: 767.98px) {
	.skills__square__content {
		font: calc(1rem + 1vw * 1.75) / 1.3rem 'Jura', sans-serif;
	}
}
